<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Manage Moderators</title>
			<subitems>
				<subitem>
					<subitemtitle>Manage Moderators</subitemtitle>
					<subsection>moderators</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Manage Banned Members</title>
			<subitems>
				<subitem>
					<subitemtitle>Manage Banned Members</subitemtitle>
					<subsection>banned</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>